/* Main Content */
body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/climpek.png"); 
    background-repeat: repeat;  
}

.container {
    width: 960px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin: 0 auto;
    padding: 30px;
    margin-top: 150px;
}

hr { 
    height: 1px;
    border: 0; 
    border-top: 2px solid #ccc;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #868585;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.about-photo {
    float: left;
    padding: 25px;
}

.about-me {
    padding: 4px 10px 10px 10px;
    margin: 0 auto;
}

/* Navigation */
.topnav {
    background-color: #ffffff;
    border-bottom: 2px solid gray;
    position: fixed;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
  }

li::after {
    content: "|";
    float: left;
    color: gray;
}

li:last-child::after {
    display: none;
}

  
li a {
    display: block;
    color:gray;
    text-align: center;
    padding: 25px;
    margin: 0 auto;
    text-decoration: none;
    float: right;
    font-family: Arial, Helvetica, sans-serif;

}

.navtitle {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    display: block;
    top: 0;
    position: fixed;
}